# For loop
    for loop is used for do iterstion overe a specific sequence

In [1]:
# print odd value between 20 and 80, without using if. Using for loop only.
# we using here simple alogorithm than other softwares

In [8]:
for odd in range(21 , 80 , 2): # we take first odd value to get all other odd values
    print(odd)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79

In [9]:
# this loop avoid  the if else statement

In [ ]:
#) creat a list of 1 to 20 number using for loop [1,2,3..20]

In [16]:
l = [ i for i in range(1,21)]   # index start  from 0 and except the last index

In [17]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
 #create a  list of 20 to 1 value using  for loop (dont Use Reverse) [20,19,18,...3,2,1]

In [30]:
# we will use here decrement and .append()
numr = [] # we created empty list that store alll the appended values from for loop
for number in range(20,0,-1):
    numr.append(number)

In [31]:
print(numr)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
# 4)take Cube of odd values between 20 to 40
for no in range(21,40,2):
    i = no**3
    print(no ,'^3','=', i)

21 ^3 = 9261
23 ^3 = 12167
25 ^3 = 15625
27 ^3 = 19683
29 ^3 = 24389
31 ^3 = 29791
33 ^3 = 35937
35 ^3 = 42875
37 ^3 = 50653
39 ^3 = 59319

#5) take 5 freinds name in list name=[a,b,c,d,e]
take corresponding ages in second list age = [20,21,23,25,24]
expected ans:

In [38]:
myfrd = ['akash','shubham','sujit','praveen','jaydip']

In [39]:
myfrdage = [ 20,21,23,25,24]

In [56]:
for i in range(len(myfrd)):
    print(f"my name is {myfrd[i]},my age is {myfrdage[i]}")

my name is akash,my age is 20
my name is shubham,my age is 21
my name is sujit,my age is 23
my name is praveen,my age is 25
my name is jaydip,my age is 24

In [52]:
# another way
frd = {} # empty set
for i in range(len(myfrd)):
    frd[myfrd[i]] = myfrdage[i]

In [53]:
print(frd)

{'akash': 20, 'shubham': 21, 'sujit': 23, 'praveen': 25, 'jaydip': 24}