# Def 
    def is helps to make user defined function . Containning the code of block with name of function

In [1]:
# We can find the maximum value by def

def m_found(a,b,c):
    return max ( a,b,c)

In [2]:
z =m_found(15452,3496,52487)

In [3]:
print(z)

52487

# Sum of Numbers in a List

In [4]:
def s_num (lst):
    return sum(lst)

In [5]:
values=[14,8,5,78,15,100,25,4]

In [6]:
s_num(values)

249

# Distinct Elements in a List

In [7]:
def dist_value(lst):
    return list(set(lst)) #finding the distinct values from the list

In [8]:
list1= [4,4,5,6,5,7,5,8,9,8,7,5,6,2,4,1,2,1,5,1,4,5,6,4,7]

In [9]:
print(list1)# we can see allt= the elements of the list as it is in orginal form

[4, 4, 5, 6, 5, 7, 5, 8, 9, 8, 7, 5, 6, 2, 4, 1, 2, 1, 5, 1, 4, 5, 6, 4, 7]

In [10]:
dist_value(list1) #we can say find the unique values

[1, 2, 4, 5, 6, 7, 8, 9]

# Total Number of Combinations
    we can use for count possible treatment combination

In [11]:
import itertools

In [12]:

def combi_count(lst):
    return len(list(itertools.combinations(lst,2)))

In [13]:

letters= ['a','b','c']

In [14]:
combi = combi_count(letters)

In [15]:
print('possible combiations is =',combi_count(letters))

possible combiations is = 3

# Total Number of Permutations
    it will find  the total number of possible unique arrangements you can create with a given set of elements when sequence is important.

In [16]:
def t_permu(lst):
    return len(list(itertools.permutations(lst)))

In [17]:
list2=['A','B','C','D']

In [18]:
p = t_permu(list2)

In [19]:
print(p)

24

In [20]:
list3=['X','Y','Z']

In [21]:
print(t_permu(list3))

6

# Count Vowels and Consonants

In [22]:

def count_vowels_consonants(word):
    vowels ='aeiou'
    vowel_count = 0  # initailizing the varisbles
    consonants_count = 0
    for char in word:
        if char.lower() in vowels:
            vowel_count+=1
        elif char.isalpha():
            consonants_count  +=1
    return vowel_count , consonants_count

In [23]:
word ='statistics'

In [24]:
vowels , consonants = count_vowels_consonants(word)

In [25]:
print(consonants)

7

In [26]:
vowels

3

In [27]:
print(f'The total vowels in {word} is {vowels} and Total consonant in {word} is {consonants}')

The total vowels in statistics is 3 and Total consonant in statistics is 7

# Convert to Uppercase

In [28]:
def convert_upper(w):
    return w.upper()

In [29]:
sent  = 'i am from kolhapur'
sent2 = 'statistics'

In [30]:
print(convert_upper(sent))

I AM FROM KOLHAPUR

In [31]:
convert_upper(sent2)

'STATISTICS'

# Count Lowercase and Uppercase Letters

In [32]:

def count_upper_lower(lst):
    lower_c=0
    upper_c=0
    for x in lst:
        if x.islower():
            lower_c += 1
        elif x.isupper():
            upper_c += 1
    return lower_c ,upper_c

In [33]:
l1 = 'STatiStiCS'

In [34]:
lower_case , upper_case = count_upper_lower(l1)

In [35]:
print(f'total lower case is {lower_case} and total upper case is {upper_case}' )

total lower case is 5 and total upper case is 5